@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  border: 0;
  outline: 0;
  background-color: transparent;
  word-wrap: break-word;
}

html,
body,
#root,
.main_app {
  height: 100%;
}

body {
  background-color: #fafbfc;
  min-width: 600px;
}

.main_app {
  position: relative;
}

.header {
  background-color: #24292e;
  height: 64px;
  text-align: center;
  color: #fff;
  position: relative;
}

.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.main_container {
  position: relative;
  height: calc(100% - 64px);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #24292e;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.input_search {
  border-radius: 5px;
}

.container_input {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.input_search {
  margin-right: 3px;
  border: 1px solid rgb(142, 162, 182);
  padding: 5px;
  width: 300px;
}

.input_search:focus {
  border-color: #24292e;
}

.button_search {
  background-color: #9799a3;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button_search:hover {
  opacity: 0.8;
}

.lock_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.error_container {
  display: flex;
  width: 50%;
  height: 200px;
  background-color: #24292e;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #d8dee2;
}

.error_text {
  font-size: 1.4rem;
  color: #fff;
}

.error_button {
  background-color: #d8dee2;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.top_users_container {
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
  padding: 20px 0;
}

.list_item {
  min-height: 100px;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 20px 0;
  position: relative;
}

.list_item:first-child {
  border-top: 1px solid rgb(206, 206, 206);
}

.user_avatar_container {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.user_avatar {
  width: inherit;
  height: inherit;
}

.user_avatar_container,
.list_item_content {
  display: inline-block;
  vertical-align: top;
}

.list_item_content {
  width: calc(100% - 100px);
}

.user_login {
  color: rgb(45, 111, 153);
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.user_name {
  display: inline-block;
  margin-bottom: 5px;
}

.user_bio {
  margin-bottom: 5px;
}

.user_location {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.user_location_text,
.user_email_text {
  display: inline-block;
  vertical-align: middle;
}

.user_location_img,
.user_email_img {
  vertical-align: middle;
  width: 14px;
  height: 18px;
  margin-right: 3px;
}

.user_email {
  display: inline-block;
}
